<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968676266955-s6bbfkh9gbnq4293ub2p8ik6pbigb5cm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968676266955-s6bbfkh9gbnq4293ub2p8ik6pbigb5cm</string>
	<key>API_KEY</key>
	<string>AIzaSyAfjmVVogoD_waxm5xuhV2byA-znyqOeZs</string>
	<key>GCM_SENDER_ID</key>
	<string>968676266955</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eStudyManagement</string>
	<key>PROJECT_ID</key>
	<string>e-study-management</string>
	<key>STORAGE_BUCKET</key>
	<string>e-study-management.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968676266955:ios:2a62df7d782d07b1951c4e</string>
</dict>
</plist>